{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
	<div class="row">
		<div class='col-12 ml-auto mr-auto col-lg-6'>
		</div>
		<div class='col-12 ml-auto mr-auto col-lg-6'>
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}				
					</fieldset>
		            <div class="form-group">
		            	<button class="btn btn-secondary mb-3" type="submit">Login</button>
					</div>			
				</form>
		        <div class="border-top pt-3">
		            <small class="text-muted">
						Need An Account? <a class="ml-3 pb-3" href="{% url 'register' %}">Sign Up Now</a>
		            </small>
				</div>
			</div>
		</div>
	</div>
{% endblock %}